<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* Bootstrap core CSS */-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class="text-center"  th:fragment="footer">
            <p th:utext="#{site.copyright}">Copyright &copy; 2016 All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>