<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{site.title} + '-'+ #{login.page.title}">Login</title>
    <!--/* Bootstrap core CSS */-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <!--/* font-awesome */-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <!--/* custom css */-->
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <!--/* HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries */-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:utext="#{nav.brand.label}"><span>Spring</span>Security</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>&nbsp;<span sec:authentication="name">User</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/profile}"><i class="fa fa-address-card"></i>&nbsp;<span th:text="#{menu.label.profile}">Profile</span></a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
                        <li>
                            <a href="javascript: document.logoutForm.submit()"><i class="fa fa-sign-out"></i>&nbsp;<span th:text="#{menu.label.singOut}">Sign out</span></a>
                        </li>
                        <form name="logoutForm" th:action="@{/logout}" method="post"/>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:fragment="sidebar">
    <ul class="nav menu">
        <li th:class="${navSection == 'home' ? 'active' : ''}">
            <a href="../index.html" th:href="@{/}"><i class="fa fa-tachometer"></i>&nbsp;<span th:text="#{nav.home.label}">Home</span></a>
        </li>
        <li th:class="${navSection == 'dashboard' ? 'active' : ''}">
            <a href="dashboard.html"><i class="fa fa-bar-chart"></i>&nbsp;<span th:text="#{nav.dashboard.label}">Dashboard</span></a>
        </li>
        <li th:class="${navSection == 'news' ? 'active' : ''}">
            <a th:href="@{/news}"><i class="fa fa-newspaper-o"></i>&nbsp;<span th:text="#{nav.news.label}">News</span></a>
        </li>
        <li th:class="${navSection == 'admin' ? 'active' : ''}">
            <a href="tables.html"><i class="fa fa-table"></i>&nbsp;<span th:text="#{nav.table.label}">Tables</span></a>
        </li>
        <li class="parent" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#sub-item-admin" data-toggle="collapse">
                <i class="fa fa-tasks"></i>&nbsp;<span th:text="#{nav.admin.label}">Admin</span><span class="caret"></span>
            </a>
            <ul th:classappend="${navSection == 'user' ? '':'collapse'}" class="children" id="sub-item-admin">
                <li th:class="${navSection == 'user' ? 'active' : ''}">
                    <a th:href="@{/users}"> <i class="fa fa-chevron-circle-right"></i>&nbsp;<span th:text="#{nav.user.label}">User</span></a></li>
                <li>
                    <a href="#"> <i class="fa fa-chevron-circle-right"></i>&nbsp;Sub Item 2 </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-chevron-circle-right"></i>&nbsp;Sub Item 3 </a>
                </li>
            </ul>
        </li>
    </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"> <i class="fa fa-home"></i> </a></li>
            <li class="active">Icons</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Site Traffic Overview</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <footer>
        <div class="text-center" th:fragment="footer">
            <p>Copyright &copy; 2016 All rights reserved.</p>
        </div>
    </footer>
</div>    <!--/.content-->
</body>
</html>