<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home page</title>
</head>
<body>
<h2>Hello, ${springSecurityTool.principal}!</h2>

<nav role="navigation">
    <ul>
        #if($springSecurityTool.hasRole("ROLE_ADMIN"))
            <li><a href="${request.contextPath}/users/create">Create a new user</a></li>
        #end
        #if($springSecurityTool.hasRole("ROLE_ADMIN"))
            <li><a href="${request.contextPath}/users">View all users</a></li>
        #end
        #if($springSecurityTool.hasRole("ROLE_USER"))
            <li><a href="${request.contextPath}/demo">Demo</a></li>
        #end
        <li>
            <form action="${request.contextPath}/logout" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit">Log out</button>
            </form>
        </li>
    </ul>
</nav>
</body>
</html>